.place {
    margin: 30px 0px 0px 0px;
    padding-bottom: 10px;

    .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .name {
            text-align: start;
        }
        > .date {
            text-align: end;
        }
    }

    .divider {
        height: 8px;
        margin: 10px 0px 0px 0px;
        border-bottom: 3px solid rgba(29, 29, 29, 0.15);
    }
}
