.info-actions {
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;

    background-color: #fff;
    padding: 10px 0px 0px 0px;
    box-shadow: 0 2px 18px 0 rgb(0 0 0 / 8%), 0 -1px 5px 0 rgb(0 0 0 / 12%);
    small {
        font-size: 1rem;
        text-align: end;
        position: fixed;
        right: 0;
        bottom: 0;
    }
    .link-social {
        padding: 4px;
        opacity: 0.6;
        img {
            height: 3rem;
        }
    }

    .link-social :hover {
        opacity: 0.4;
    }
}
